{% extends 'base.html' %}
{% block title %} {{ category.name }} {% endblock title %}
{% block content %}
<h2>Категория: {{ category.name }}</h2>
<section class="latest-posts">
    {% for post in category_posts %}
    <article>
        <h3><a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a></h3>
        <p> {{ post.description }}</p>
        <p class="post-date"> Опубликовано: {{ post.created_at | date:'d M Y' }}</p>
    </article>
    {% empty %}
    <p> В этой категории пока нет статей.</p>
    {% endfor %}
</section>
{% endblock content %}