{% extends 'base.html' %}

{% block title %} Главная - Мой Блог {% endblock title %}

{% block content %}

{% include 'includes/search.html' %}
{% include 'includes/sort.html' %}

<form method="get">
    <button type="submit">Сбросить</button>
</form>

<section class='latest-posts'>
    <h2>Последние статьи</h2>
    {% for post in posts %}
    <article>
        <h3><a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <p>Автор: {{ post.owner }}</p>
        <p>Дата публикации: {{ post.created_at|date:'d M Y' }}</p>
    </article>
    {% empty %}
    <p> Пока нет опубликованных статей </p>
    {% endfor %}
</section>

{% endblock content %}