{% extends 'base.html' %}
{% block title %} Все статьи {% endblock title %}
{% block content %}
<section class="latest-posts">
    <h2>Все статьи</h2>
    {% for post in posts %}
    <article>
        <h3><a href="{% url 'blog:post-detail' post.pk %}"> {{ post.title }}</a></h3>
        <p>{{ post.description }}</p>
        <p class="post-date"> Опубликовано: {{ post.created_at|date:'d M Y'}}</p>

    </article>
    {% empty %}
    <p> Статья пока не опубликовано. </p>
    {% endfor %}
</section>
{% endblock content%}