{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Блог{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}" class="btn">Главная</a></li>
            <li><a href="{% url 'tasks:task-create' %}" class="btn">Добавить задачу</a></li>

            <li><a href="{% url 'tasks:profile' %}" class="btn">Профиль</a></li>

            <li><a href="{% url 'account:logout' %}" class="btn">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'account:login' %}" class="btn">Войти</a></li>

            <li><a href="{% url 'account:register' %}" class="btn">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>© 2025 Мой Блог. Все права защищены.</p>
</footer>
</body>
</html>
